.hbk-news
	overflow hidden
	&__list
		// margin-right -64px
		margin-right -16px
		margin-left -16px
		font-size 0
	&__item
		// margin-right 64px
		margin-right 16px
		margin-left 16px
		margin-bottom (127px / 2)
		// width 1000px
		width (1000px / 2)
		min-height (985px / 2)
		display inline-block
		vertical-align top
	&__item_special
		.hbk-news__title
			color #C30016
		.hbk-news__body
			background url('../images/general/bottom.png') 100% 100% / 500px  no-repeat
	&__link
		position relative
		display block
		text-decoration none
		overflow hidden
	&__logo
		position absolute
		top 5px
		left 5px
		retinaSprite($hbk_logo_group)
		hide-text()
	&__image
		// height 750px
		height 375px
		img
			@extends .image
	&__body
		margin-top -(108px / 2)
		margin-left -20px
		margin-right -20px
		background url('../images/general/bottom-second.png') 100% 100% / 500px  no-repeat
		// background-size cover
		object-fit cover
	&__title
		padding-left (82px / 2)
		padding-right (82px / 2)
		min-height (104px / 2)
		max-height (104px / 2)
		font-size (69px /2)
		font-family $postr
		text-transform uppercase
		background #FFF
		color #032969
		transform rotate(-6deg)
		text-align left
		white-space nowrap
	&__text
		padding-right (82px / 2)
		padding-left (82px /2)
		min-height (240px / 2)
		max-height (300px / 2)
		font-size (60px / 2)
		font-family $prEB
		background #000
		color #FFF
		transform rotate(-6deg)
	&__sign
		padding-right 24px
		font-size (30px / 2)
		font-family $prER
		color #FFF
		text-align right
