mixin hbk-news()
	.hbk-news
		ul.hbk-news__list
			li.hbk-news__item.hbk-news__item_special
				a.hbk-news__link(href="#link")
					.hbk-news__logo Чбк
					.hbk-news__image
						img(src="assets/images/content/news-img-1.jpg", alt="")
					.hbk-news__body
						.hbk-news__title экстренные новости
						.hbk-news__text Пол Миллсэп вернётся в строй не раньше
						.hbk-news__sign vk.com/fan.basketball
			li.hbk-news__item.hbk-news__item_special
				a.hbk-news__link(href="#link")
					.hbk-news__logo Чбк
					.hbk-news__image
						img(src="assets/images/content/news-img-2.jpg", alt="")
					.hbk-news__body
						.hbk-news__title экстренные новости
						.hbk-news__text Пол Миллсэп вернётся в строй не раньше перерыва на Матч всех звёзд звёзд звёзд
						.hbk-news__sign vk.com/fan.basketball
			li.hbk-news__item.hbk-news__item_special
				a.hbk-news__link(href="#link")
					.hbk-news__logo Чбк
					.hbk-news__image
						img(src="assets/images/content/news-img-2.jpg", alt="")
					.hbk-news__body
						.hbk-news__title экстренные новости
						.hbk-news__text Тяжелый форвард «Денвера» Пол Миллсэп вернётся в строй не раньше перерыва на Матч всех звёзд
						.hbk-news__sign vk.com/fan.basketball
			li.hbk-news__item
				a.hbk-news__link(href="#link")
					.hbk-news__logo Чбк
					.hbk-news__image
						img(src="assets/images/content/news-img-1.jpg", alt="")
					.hbk-news__body
						.hbk-news__title сообщение о травме
						.hbk-news__text Пол Миллсэп вернётся в строй не раньше
						.hbk-news__sign vk.com/fan.basketball
			li.hbk-news__item
				a.hbk-news__link(href="#link")
					.hbk-news__logo Чбк
					.hbk-news__image
						img(src="assets/images/content/news-img-2.jpg", alt="")
					.hbk-news__body
						.hbk-news__title сообщение о травме
						.hbk-news__text Пол Миллсэп вернётся в строй не раньше перерыва на Матч всех звёзд
						.hbk-news__sign vk.com/fan.basketball
			li.hbk-news__item
				a.hbk-news__link(href="#link")
					.hbk-news__logo Чбк
					.hbk-news__image
						img(src="assets/images/content/news-img-2.jpg", alt="")
					.hbk-news__body
						.hbk-news__title сообщение о травме
						.hbk-news__text Тяжелый форвард «Денвера» Пол Миллсэп вернётся в строй не раньше перерыва на Матч всех звёзд
						.hbk-news__sign vk.com/fan.basketball
