mixin hbk-near()
	.hbk-results.hbk-results_near
		.hbk-results__top
			h2.hbk-results__title ближайшие игры
			.hbk-results__date 14 декабря, понедельник
		ul.hbk-results__list
			li.hbk-results__item
				.hbk-results__team(style="background-color:#000;")
					.hbk-results__team-icon-w
						.hbk-results__team-icon(style="background-color:#000;")
							img(src="assets/images/content/nets.png", alt="БРУКЛИН НЕТС")
					.hbk-results__team-name БРУКЛИН НЕТС
				.hbk-results__val 20:00
				.hbk-results__team(style="background-color:#CF0A2D;")
					.hbk-results__team-icon-w
						.hbk-results__team-icon(style="background-color:#CF0A2D;")
							img(src="assets/images/content/blazers.png", alt="ПОРТЛЕНД Т. БЛЕЙЗЕРС")
					.hbk-results__team-name ПОРТЛЕНД Т. БЛЕЙЗЕРС
			li.hbk-results__item
				.hbk-results__team(style="background-color:#E21836;")
					.hbk-results__team-icon-w
						.hbk-results__team-icon(style="background-color:#E21836;")
							img(src="assets/images/content/hawks.png", alt="АТЛАНТА ХОУКС")
					.hbk-results__team-name АТЛАНТА ХОУКС
				.hbk-results__val 03:30
				.hbk-results__team(style="background-color:#006BB7;")
					.hbk-results__team-icon-w
						.hbk-results__team-icon(style="background-color:#006BB7;")
							img(src="assets/images/content/knicks.png", alt="НЬЮ-ЙОРК НИКС")
					.hbk-results__team-name НЬЮ-ЙОРК НИКС
			li.hbk-results__item
				.hbk-results__team(style="background-color:#018249;")
					.hbk-results__team-icon-w
						.hbk-results__team-icon(style="background-color:#018249;")
							img(src="assets/images/content/celtics.png", alt="БОСТОН СЕЛТИКС")
					.hbk-results__team-name БОСТОН СЕЛТИКС
				.hbk-results__val 03:30
				.hbk-results__team(style="background-color:#0B77BD;")
					.hbk-results__team-icon-w
						.hbk-results__team-icon(style="background-color:#FFFFFF;")
							img(src="assets/images/content/magic.png", alt="ОРЛАНДО МЭДЖИК")
					.hbk-results__team-name ОРЛАНДО МЭДЖИК
			li.hbk-results__item
				.hbk-results__team(style="background-color:#6E233A;")
					.hbk-results__team-icon-w
						.hbk-results__team-icon(style="background-color:#6E233A;")
							img(src="assets/images/content/cavaliers.png", alt="КЛИВЛЕНД КАВАЛЬЕРС")
					.hbk-results__team-name КЛИВЛЕНД КАВАЛЬЕРС
				.hbk-results__val 04:00
				.hbk-results__team(style="background-color:#00768A;")
					.hbk-results__team-icon-w
						.hbk-results__team-icon(style="background-color:#00768A;")
							img(src="assets/images/content/hornets.png", alt="ШАРЛОТ ХОРНЕТС")
					.hbk-results__team-name ШАРЛОТ ХОРНЕТС
			li.hbk-results__item
				.hbk-results__team(style="background-color:#002E62;")
					.hbk-results__team-icon-w
						.hbk-results__team-icon(style="background-color:#002E62;")
							img(src="assets/images/content/paces.png", alt="ИНДИАНА ПЭЙСЕС")
					.hbk-results__team-name ИНДИАНА ПЭЙСЕС
				.hbk-results__val 04:00
				.hbk-results__team(style="background-color:#CE1141;")
					.hbk-results__team-icon-w
						.hbk-results__team-icon(style="background-color:#CE1141;")
							img(src="assets/images/content/raptors.png", alt="ТОРОНТО РЭПТОРС")
					.hbk-results__team-name ТОРОНТО РЭПТОРС
		.hbk-results__bottom
			a.hbk-results__social(href="//vk.com/fan.basketball") vk.com/fan.basketball
			.hbk-results__logo Чбк


mixin hbk-results()
	.hbk-results
		.hbk-results__top
			h2.hbk-results__title РЕЗУЛЬТАТЫ МАТЧЕЙ
			.hbk-results__date 14 декабря, понедельник
		ul.hbk-results__list
			li.hbk-results__item
				.hbk-results__team(style="background-color:#000;")
					.hbk-results__team-icon-w
						.hbk-results__team-icon(style="background-color:#000;")
							img(src="assets/images/content/nets.png", alt="БРУКЛИН НЕТС")
					.hbk-results__team-name БРУКЛИН НЕТС
				.hbk-results__val 102-112
				.hbk-results__team(style="background-color:#CF0A2D;")
					.hbk-results__team-icon-w
						.hbk-results__team-icon(style="background-color:#CF0A2D;")
							img(src="assets/images/content/blazers.png", alt="ПОРТЛЕНД Т. БЛЕЙЗЕРС")
					.hbk-results__team-name ПОРТЛЕНД Т. БЛЕЙЗЕРС
			li.hbk-results__item
				.hbk-results__team(style="background-color:#E21836;")
					.hbk-results__team-icon-w
						.hbk-results__team-icon(style="background-color:#E21836;")
							img(src="assets/images/content/hawks.png", alt="АТЛАНТА ХОУКС")
					.hbk-results__team-name АТЛАНТА ХОУКС
				.hbk-results__val 91-99
				.hbk-results__team(style="background-color:#006BB7;")
					.hbk-results__team-icon-w
						.hbk-results__team-icon(style="background-color:#006BB7;")
							img(src="assets/images/content/knicks.png", alt="НЬЮ-ЙОРК НИКС")
					.hbk-results__team-name НЬЮ-ЙОРК НИКС
			li.hbk-results__item
				.hbk-results__team(style="background-color:#018249;")
					.hbk-results__team-icon-w
						.hbk-results__team-icon(style="background-color:#018249;")
							img(src="assets/images/content/celtics.png", alt="БОСТОН СЕЛТИКС")
					.hbk-results__team-name БОСТОН СЕЛТИКС
				.hbk-results__val 122-110
				.hbk-results__team(style="background-color:#0B77BD;")
					.hbk-results__team-icon-w
						.hbk-results__team-icon(style="background-color:#FFFFFF;")
							img(src="assets/images/content/magic.png", alt="ОРЛАНДО МЭДЖИК")
					.hbk-results__team-name ОРЛАНДО МЭДЖИК
			li.hbk-results__item
				.hbk-results__team(style="background-color:#6E233A;")
					.hbk-results__team-icon-w
						.hbk-results__team-icon(style="background-color:#6E233A;")
							img(src="assets/images/content/cavaliers.png", alt="КЛИВЛЕНД КАВАЛЬЕРС")
					.hbk-results__team-name КЛИВЛЕНД КАВАЛЬЕРС
				.hbk-results__val 104-107
				.hbk-results__team(style="background-color:#00768A;")
					.hbk-results__team-icon-w
						.hbk-results__team-icon(style="background-color:#00768A;")
							img(src="assets/images/content/hornets.png", alt="ШАРЛОТ ХОРНЕТС")
					.hbk-results__team-name ШАРЛОТ ХОРНЕТС
			li.hbk-results__item
				.hbk-results__team(style="background-color:#002E62;")
					.hbk-results__team-icon-w
						.hbk-results__team-icon(style="background-color:#002E62;")
							img(src="assets/images/content/paces.png", alt="ИНДИАНА ПЭЙСЕС")
					.hbk-results__team-name ИНДИАНА ПЭЙСЕС
				.hbk-results__val 101-98
				.hbk-results__team(style="background-color:#CE1141;")
					.hbk-results__team-icon-w
						.hbk-results__team-icon(style="background-color:#CE1141;")
							img(src="assets/images/content/raptors.png", alt="ТОРОНТО РЭПТОРС")
					.hbk-results__team-name ТОРОНТО РЭПТОРС
			li.hbk-results__item
				.hbk-results__team(style="background-color:#000;")
					.hbk-results__team-icon-w
						.hbk-results__team-icon(style="background-color:#000;")
							img(src="assets/images/content/nets.png", alt="БРУКЛИН НЕТС")
					.hbk-results__team-name БРУКЛИН НЕТС
				.hbk-results__val 102-112
				.hbk-results__team(style="background-color:#CF0A2D;")
					.hbk-results__team-icon-w
						.hbk-results__team-icon(style="background-color:#CF0A2D;")
							img(src="assets/images/content/blazers.png", alt="ПОРТЛЕНД Т. БЛЕЙЗЕРС")
					.hbk-results__team-name ПОРТЛЕНД Т. БЛЕЙЗЕРС
		.hbk-results__bottom
			a.hbk-results__social(href="//vk.com/fan.basketball") vk.com/fan.basketball
			.hbk-results__logo Чбк
