mixin hbk-player()
	.hbk-player
		.hbk-player__logo Чбк
		.hbk-player__image
			img(src="assets/images/content/news-img-2.jpg", alt="Джоэл ЭМБИИД")
		.hbk-player__body
			.hbk-player__name Джоэл <span class="hbk-player__name-last">ЭМБИИД</span>
			ul.hbk-player__scores
				li.hbk-player__scores-item
					.hbk-player__scores-body
						span.hbk-player__scores-val 46
					.hbk-player__scores-bottom очков
				li.hbk-player__scores-item
					.hbk-player__scores-body
						span.hbk-player__scores-val 15
					.hbk-player__scores-bottom подборов
				li.hbk-player__scores-item
					.hbk-player__scores-body
						span.hbk-player__scores-val 7
					.hbk-player__scores-bottom передач
				li.hbk-player__scores-item
					.hbk-player__scores-body
						span.hbk-player__scores-val 7
					.hbk-player__scores-bottom блокшотов
		.hbk-player__bottom
			a.hbk-player__social(href="//vk.com/fan.basketball") vk.com/fan.basketball



